.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  background-color: #9dbcbc;
  color: #006666;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  width: 31%;
  padding: 10px;
  margin: 10px;
  background-color: #fff5bb;
}
@media screen and (max-width: 1536px) {
  .card {
    width: 47%;
  }
  .content {
    width: 90%;
  }
}
@media screen and (max-width: 1200px) {
  .card {
    width: 100%;
  }
}

.row {
  width: 100%;
  padding: 10px;
  margin: 0;
}

ul {
  list-style: none;
  padding: 10px;
}

.container {
  padding-bottom: 3rem;
  position: relative;
  margin-top: 20px;
}

footer {
  margin-top: 40px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
